
*.synctex.gz
*.synctex.gz(busy)

*.aux
*.bcf
*.blg
*.log
*.out
*.bbl
*.run.xml
*.pdf
LaTeX/MP-56.synctex(busy)
LaTeX/MP-56.toc
*.bbl
*.toc
LaTeX/MP-56.bbl
*.mx
Mathematica/philcheck.nb
LaTeX/MathematicalPhyllotaxisSpringer.tdo
