
Mathematica/locatedParastichyExample91.m
.RData
.Rhistory
LaTeX/Stacked disks/StackedDisks.synctex.gz
LaTeX/Stacked disks/StackedDisks.aux
LaTeX/Stacked disks/StackedDisks.bcf
LaTeX/Stacked disks/StackedDisks.blg
LaTeX/Stacked disks/StackedDisks.log
LaTeX/Stacked disks/StackedDisks.pdf
LaTeX/Stacked disks/StackedDisks.bbl
LaTeX/Stacked disks/StackedDisks.run.xml
